@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* --- print settings --- */
@media print {
  header, nav, footer {
    display: none !important;
  }

  /* 余白も少し詰めたい場合（いらなければ消してOK） */
  body {
    margin: 0 !important;
  }
}
